@import url("https://fonts.googleapis.com/css?family=Cabin");

html {
  box-sizing: border-box;
  background-color: #e2dadd;
  font-family: "Cabin", sans-serif;
}

#root {
  text-align: center;
}

#root h2 {
  font-size: 2em;
  margin: 0.67em 0 0.15em 0;
}
